<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue.js fighting</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet"
          href="https://unpkg.com/bootstrap-material-design@4.0.0-beta.3/dist/css/bootstrap-material-design.min.css"
          integrity="sha384-k5bjxeyx3S5yJJNRD1eKUMdgxuvfisWKku5dwHQq9Q/Lz6H8CyL89KF52ICpX4cL" crossorigin="anonymous">
    <link rel="stylesheet" href="css/app.css">
</head>
<body>
<div class="container" id="app">

    <h2 class="title text-center">Welcome to VueFighting!</h2>

    <div class="progresses">
        <div class="progress-container">
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" :style="{width: playerHealth + '%'}"
                     :aria-valuenow="playerHealth"
                     aria-valuemin="0"
                     aria-valuemax="100">{{ playerHealth}}</div>
            </div>
        </div><div class="progress-container">
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" :style="{width: computerHealth + '%'}"
                     :aria-valuenow="computerHealth"
                     aria-valuemin="0"
                     aria-valuemax="100">{{ computerHealth}}</div>
            </div>
        </div>
    </div>

    <div class="card controls">
        <div class="card-body container">
            <div class="row justify-content-center">

                <template v-if="!gameStarted">
                    <button type="button" @click="startGame()" class="btn btn-lg btn-outline-success">Are you ready? Click here!</button>
                </template>

                <template v-if="gameStarted">
                    <button type="button" @click="attack()" class="btn btn-lg btn-outline-danger">Attack!</button>
                    <button type="button" class="btn btn-lg btn-outline-warning">Special attack</button>
                    <button type="button" class="btn btn-lg btn-outline-success">Heal</button>
                    <button type="button" @click="gameStarted = false" class="btn btn-lg btn-outline-primary">Give up</button>

                    <div v-show="logs.length" class="fight-log">
                        <hr>

                        <div class="alert"
                             role="alert"
                             :class="{'alert-success': log.who == 'player', 'alert-danger': log.who == 'computer'}"
                             v-for="log in logs">
                            {{ log.message }}
                        </div>
                    </div>
                </template>

            </div>
        </div>
    </div>

</div>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://unpkg.com/popper.js@1.12.5/dist/umd/popper.js"
        integrity="sha384-KlVcf2tswD0JOTQnzU4uwqXcbAy57PvV48YUiLjqpk/MJ2wExQhg9tuozn5A1iVw"
        crossorigin="anonymous"></script>
<script src="https://unpkg.com/bootstrap-material-design@4.0.0-beta.3/dist/js/bootstrap-material-design.js"
        integrity="sha384-hC7RwS0Uz+TOt6rNG8GX0xYCJ2EydZt1HeElNwQqW+3udRol4XwyBfISrNDgQcGA"
        crossorigin="anonymous"></script>


<script src="https://unpkg.com/vue"></script>
<script src="js/app.js"></script>
</body>
</html>